$collapseDuration: 250ms;

.menu {
  background-color: #1a8661;
  height: 100%;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden auto;
  transition: width $collapseDuration;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.header {
  flex: 0;
  padding: 8px 0;
  transition: padding $collapseDuration;

  .home {
    display: flex;
    align-items: center;
    background: linear-gradient(
      to bottom,
      transparent calc(50% - 16px),
      #ffffff32 calc(50% - 16px),
      #ffffff32 calc(50% + 16px),
      transparent calc(50% + 16px)
    );

    .clock {
      flex-shrink: 0;
      height: 55px;
      width: 55px;
      margin-left: 10px;
      transition-property: height, width;
      transition-duration: $collapseDuration;
    }
    .appName {
      flex-grow: 1;
      text-align: center;
      font-size: 1.25em;
      white-space: nowrap;
      height: 32px;
    }
  }
}

.content {
  flex: 1;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;

  .group {
    & + .group {
      margin-top: 12px;
    }

    .title {
      transition-property: margin-left;
      transition-duration: $collapseDuration;
      margin-bottom: 2px;
      margin-left: 16px;
      color: #b0eab0;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: bold;
      white-space: nowrap;
    }
  }

  .link {
    margin: 2px 8px;
    padding: 4px 6px;
    border-radius: 4px;
    color: #ffffffa8;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition-property: margin-left, margin-right, padding-left, padding-right;
    transition-duration: $collapseDuration;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #ffffff10;
      outline: unset;
    }
    &.active {
      color: #ffffff;
      background-color: #ffffff26;
    }

    svg {
      margin-right: 6px;
      transition-property: margin-left, font-size;
      transition-duration: $collapseDuration;
    }
  }
}

.footer {
  flex: 0;

  .toggleCollapse {
    display: flex;
    align-items: center;
    color: #ffffffa8;
    background-color: #ffffff10;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #ffffff26;
      outline: unset;
    }

    svg {
      font-size: 20px;
      margin: 8px auto;
    }
    .label {
      text-align: center;
      flex-grow: 1;
      white-space: nowrap;
    }
  }
}

.menu.collapsed {
  width: 65px;

  .header {
    padding: 12px 0;

    .home {
      .clock {
        height: 45px;
        width: 45px;
      }
      .appName {
        display: none;
      }
    }
  }

  .content {
    .group {
      padding: 4px 0;

      & + .group {
        margin-top: 0px;
        border-top: 1px solid #449a7e;
      }

      .title {
        display: none;
      }
    }
    .link {
      padding: 8px 0;
      margin: 4px 12px;

      .label {
        display: none;
      }
      svg {
        margin-right: 0;
        font-size: 18.5px;
        margin-left: 8.5px;
      }
    }
  }
}
