.headerCurrentTimer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;

  .timerLabel {
    font-size: 1.25em;
    background: transparent;
    flex: 1 1;
    border: none;
    width: 100%;
    min-width: 190px;
    margin: 10px 0;

    &::placeholder {
      color: #808080;
      opacity: 1; /* Firefox */
    }
    &:focus {
      outline: none;
    }
  }

  .timerOptions {
    flex: 0 0;
    display: flex;
    margin: 5px 5px 5px 0;
    align-items: center;

    & > * {
      margin: 0 4px;
    }

    .timerTags,
    .timerProject {
      width: 28px;
      height: 28px;
      font-size: 18px;
      border-radius: 50%;
      color: #5fb495;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: #eff7f4;
        outline: unset;
      }
      &:active {
        background-color: #d7e6e0;
      }
    }

    .timerDuration {
      & > input {
        width: 90px;
        padding: 4px 0;
        font-size: 18px;
        font-weight: bolder;
        border: none;
        border-radius: 8px;
        text-align: center;

        &:hover {
          background-color: #eff7f4;
        }
        &:focus {
          background-color: #d7e6e0;
          outline: unset;
        }
      }
    }

    .timerPlayStopButton {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      margin-right: 10px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &.play {
        background-color: #5fb495;

        &:hover,
        &:focus {
          background-color: #449477;
          outline: unset;
        }
        &:active {
          color: #d7e6e0;
        }
      }

      &.stop {
        background-color: #b4655f;

        &:hover,
        &:focus {
          background-color: #945444;
          outline: unset;
        }
        &:active {
          color: #e6dcd7;
        }
      }
    }

    .timerMode {
      display: flex;
      flex-direction: column;

      .timerModeTimer {
        width: 16px;
        color: #5fb495;
        cursor: pointer;
        margin-bottom: 8px;
      }

      .timerModeManual {
        width: 16px;
        color: #5fb495;
        cursor: pointer;
      }

      .timerModeSelected {
        color: #104d36;
      }
    }
  }
}
