.clock {
  border-radius: 50%;
  position: relative;
  background: #b0eab0;

  .clockFace {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      top: 44%;
      left: 44%;
      width: 12%;
      height: 12%;
      border-radius: 50%;
      background: #0e6c4c;
      z-index: 3;
    }
  }

  .hand {
    top: 46%;
    height: 8%;
    right: 50%;
    position: absolute;
    transform-origin: 100%;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

    &.hourHand {
      z-index: 1;
      background: #66bfa1;
      width: 31%;
      border-bottom-left-radius: 14% 50%;
      border-top-left-radius: 14% 50%;
      /*animation: spin 120s linear infinite;*/
    }

    &.minuteHand {
      z-index: 2;
      background: #0e6c4c;
      width: 46%;
      border-bottom-left-radius: 10% 50%;
      border-top-left-radius: 10% 50%;
      /*animation: spin 5s linear infinite;*/
    }

    @keyframes spin {
      0% {
        transform: rotate(-180deg);
      }
      100% {
        transform: rotate(180deg);
      }
    }
  }
}
