.page {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  height: 100%;
}

.header {
  min-height: 70px;
  flex-shrink: 0;
  background-color: white;
  box-shadow: #09412e2e 0px 0px 8px 0px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.content {
  flex: 1;
  min-height: 200px;
  overflow: auto;

  .contentTitle {
    padding-left: 8px;
    margin: 6px 0;
    font-weight: bolder;
  }
}
