.app {
  display: flex;
  height: 100%;
  color: #0f0f0f; /* TODO variable / and this maybe upper */

  .menu {
    flex-shrink: 0;
    overflow: hidden auto;
  }

  .page {
    flex: 1;
    background-color: #eff7f4;
    overflow: hidden auto;
  }
}
